.serv
{
	padding-bottom: 40px;
}
.arrw
{
	background: #800000;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 3px;
}

.bi
{
	position: relative;
}
 .bix
 {
 	position: absolute;
 	background:rgba(33, 121, 237, 0.7);
 	height: 100%;
 	width: 100%;
 	top: 0;
 	padding: auto;
 	margin: auto;
 }
 .bix a
 {
 	color: #fff;
 	font-size: 11px;
 	padding: 0px 0px 30px 20px;
 	padding-top: 50px;

 }

 .bix h4
 {
 	font-size: 20px;
	line-height: 32px;
	color: #fff;
	font-weight: bold;
	padding: 28px 0px 0px 24px;
 }
 .bix2 h4
 {
 	font-size: 20px;
	line-height: 32px;
	color: #fff;
	font-weight: bold;
	padding: 28px 0px 0px 24px;
 }
 .bix2 a
 {
 	color: #fff;
 	font-size: 11px;
 	padding: 0px 0px 30px 20px;
 	padding-top: 50px;

 }
 .ulin
 {
 	width: 60px;
 	height: 1px;
 	background: #fff;
 	margin-left: 27px;
 }

 .bix p
 {
 	font-size: 17px;
	line-height: 17px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	padding: 28px 0px 0px 24px; 
 }
 .bix2 p
 {
 	font-size: 17px;
	line-height: 17px;
	color: #fff;
	font-family: 'Roboto Slab', serif;
	padding: 28px 0px 0px 24px; 
 }